{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "ecmaFeatures": { "jsx": true } },
  "settings": { "react": { "version": "detect" } },
  "env": { "browser": true, "es6": true, "node": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "rules": {
    "react/prop-types": "off",
    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          ["^\\u0000"],
          ["^(assert|constants|crypto|events|fs|path|querystring|stream|url)(/.*|$)"],
          ["^react", "^@?\\w"],
          ["^(@)(/.*|$)"],
          ["^\\."]
        ]
      }
    ],
    // Remove the rules below after fixing - Start
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/aria-role": "warn",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/heading-has-content": "warn",
    "jsx-a11y/media-has-caption": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "react/jsx-key": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-unknown-property": "warn"
    // End
  },
  "ignorePatterns": ["*rc.js", "*.config.js"]
}
